@()
<div class="add_filter popup">
    <div class="popup_bg"></div>
    <div class="wrapper">
        <div class="popup_cell">
            <div class="form_container">
                <span class="close_btn"></span>

                <form id="add_filter_form" onsubmit="return false;">
                    <h1>Add <span id="add_filter_type"></span> filter</h1>

                    <div id="add_filter_error" class="error_msg"></div>
                    <div class="labels">
                        <label for="add_filter">Filter name:</label>
                    </div>

                    <div class="inputs">
                        <input id="add_filter" required/>
                        <div id="add_filter_not_found" class="no_results_found">No results found.</div>
                    </div>

                    <div class="button_container">
                        <input id="add_filter_btn" class="primary" type="button" value="Add">
                        <input id="cancel_btn" class="primary" type="button" value="Nevermind">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
