@()
<div class="signup popup">
    <div class="popup_bg"></div>
    <div class="wrapper">
        <div class="popup_cell">
            <div class="form_container">
                <span class="close_btn"></span>

                <form id="signup_form" onsubmit="return false;">
                    <h1>Sign up</h1>
                    <div id="signup_error" class="error_msg"></div>
                    <div class="labels">
                        <label for="signup_name">Name:</label>
                        <label for="signup_email">Email:</label>
                        <label for="signup_password">Password:</label>
                    </div>

                    <div class="inputs">
                        <input type="text" id="signup_name" required/>
                        <input type="email" id="signup_email" required/>
                        <input type="password" id="signup_password" required/>
                    </div>

                    <div class="button_container">
                        <input id="signup_btn" class="primary" type="button" name="login_submit" value="Sign up">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
