@import "../util/_mixins";
@import "../util/_colors";

/* Base styles: styling general tags */

@font-face {
    font-family: "Proxima Nova Light";
    src: url("../fonts/Proxima Nova Light.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova Thin";
    src: url("../fonts/Proxima Nova Thin.otf") format("opentype");
}

body {
    font-family: "Source Sans Pro", sans-serif;
    background: @bg;
    margin: 100px 0 50px 0;
    font-size: 18px;
    overflow-y: scroll;
}

::selection {
    background: @nav_bg;
    color: @light_text;
}

p {
    line-height: 1.5em;
    margin: 5px 0 0 0;
}

input, button, select {
    height: 20px;
    padding: 1px 7px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    outline: 0;
}

// Checkboxes are not quite aligned with text
input[type="checkbox"] {
    position: relative;
    top: 5px;
}

input[type="button"] {
    position: relative;
    bottom: 1px;
    height: 25px;
    background: @nav_bg;
    border: none;
    color: @light_text;
    text-transform: uppercase;
    font-family: "Proxima Nova Light";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
        color: darken(@light_text, 15);
    }
}

select {
    height: 25px;
    font-size: 16px;
    -webkit-appearance: menulist-button;
}

h1 {
    font-family: "Proxima Nova Light";
}

h2, h3, h4 {
    margin-bottom: 10px;
    font-family: "Proxima Nova Light";
    letter-spacing: 1px;
}

h3 {
    font-size: 20px;
}

ul {
    list-style: none;
    .no_margin;
    .no_padding;

    &.horizontal li {
        display: inline-block;
        margin-right: 25px;
    }
}

.section {
    margin-bottom: 40px;
}

.subsection {
    margin-bottom: 25px;
}

a {
    &:link {
        text-decoration: none;
        color: @dark_text;
    }

    &:visited {
        color: @dark_text;
    }

    &:hover {
        text-decoration: underline;
    }
}