@import "../util/_mixins";
@import "../util/_colors";

@font-face {
    font-family: "Proxima Nova Light";
    src: url("../fonts/Proxima Nova Light.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova Thin";
    src: url("../fonts/Proxima Nova Thin.otf") format("opentype");
}

body {
    font-family: "Proxima Nova Light", "Montserrat", sans-serif;
    background: @bg;
    margin-top: 100px;
    padding-bottom: 200px;
}

p {
    font-size: 18px;
    line-height: 1.5em;
    margin: 5px 0 0 0;
}

input, button {
    font-family: "Proxima Nova Light";
}

h3 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    .no_margin;
    .no_padding;

    li {
        display: inline-block;
        margin-right: 25px;
    }
}

.section {
    margin-bottom: 40px;
}