@import "util/_mixins";
@import "util/_colors";

.products_list, .ingredients_list {
    clear: both;
}

.filter_area {
}

.filter_section {
    float: left;
    max-width: 300px;
    margin-right: 50px;
}

.filter_option {
    position: relative;
    margin-bottom: 4px;
    border: 2px solid @nav_bg;
    padding: 2px 20px 2px 6px;
    cursor: pointer;

    &.selected {
        background: @nav_bg;
        color: @light_text;
    }

    .delete_btn {
        position: absolute;
        top: 1.5px;
        right: 0;
        margin-left: 5px;
        padding: 1px 3px;
        font-size: 22px;
        font-family: "Proxima Nova Light";
        cursor: pointer;

        &::before {
            content: "\D7";
        }
    }
}

#loading_spinner {
    display: none;
    position: relative;
    top: 50px;
    left: 50px;
    height: 70px;
    width: 100px;
    margin: 0 auto;
}

.end_of_results {
    display: none;
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
}

.result_summary {
    font-size: 22px;
}

footer {
    display: none;
}

.open_add_filter_popup {
    margin-top: 10px;
}