@import "util/_mixins";
@import "util/_colors";

.products_list, .ingredients_list {
    clear: both;
}
.filter_container {
    clear: both;
    border: 1px solid @border;
    padding: 20px 30px;
}

.filter_section {
    display: inline-block;
    vertical-align: top;
    max-width: 250px;
    margin-right: 30px;

    .filter_header {
        margin-bottom: 10px;
    }

    h3 {
        margin-top: 0;
        display: inline;
    }

    .open_add_filter_popup {
        position: relative;
        top: 1px;
        right: 2px;
        padding: 5px;
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;
    }
}

.filter_option {
    display: inline-block;
    position: relative;
    margin: 0 10px 8px 0;
    border: 2px solid @nav_bg;
    padding: 2px 24px 2px 6px;
    cursor: pointer;

    &:hover {
        background: @neutral;
    }

    &.selected {
        background: @nav_bg;
        color: @light_text;

        .delete_btn:hover {
            color: @hover_light_text;
        }
    }

    .delete_btn {
        position: absolute;
        top: -1px;
        right: 2px;
        margin-left: 5px;
        padding: 1px 3px;
        font-size: 22px;
        font-weight: bolder;
        cursor: pointer;

        &::before {
            content: "\D7";
        }

        &:hover {
            color: @hover_dark_text;
        }
    }
}

#loading_spinner {
    display: none;
    position: relative;
    top: 50px;
    left: 50px;
    height: 70px;
    width: 100px;
    margin: 0 auto;
}

.result_summary, .end_of_results, .filter_toggle_link {
    font-size: 20px;
}

.result_summary {
    float: left;
}

.filter_toggle_link {
    position: relative;
    top: 1px;
    float: right;
    background: @bg;
    padding: 5px 10px;
    border: 1px solid @border;
    border-bottom: none;
    cursor: pointer;
}

.end_of_results {
    display: none;
    margin-top: 50px;
    text-align: center;
}

footer {
    display: none;
}

.open_add_filter_popup {
    margin-top: 10px;
}