@import "util/_mixins";
@import "util/_colors";

.products_list, .ingredients_list {
    width: 70%;
    float: right;
}

.filter_area {
    float: left;
    width: 25%;
    margin-right: 3%;
    padding-right: 1%;
    border-right: 1px solid @border;
}

.filter_area.sticky {
    position: fixed;
    top: 100px;
    height: 80%;
    width: 19%;
    border-right: none;
    overflow-y: scroll;
}

.filter_section {
    margin-top: 40px;
}

.filter_option {
    margin-bottom: 4px;

    label {
        margin-left: 3px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}


#loading_spinner {
    display: none;
    position: relative;
    top: 50px;
    left: 50px;
    height: 70px;
    width: 100px;
    margin: 0 auto;
}

.end_of_results {
    display: none;
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
}

.result_summary {
    margin-bottom: 40px;
    font-size: 22px;
}

footer {
    display: none;
}

.open_add_filter_popup {
    margin-top: 10px;
}

.delete_btn {
    visibility: hidden;
    position: relative;
    top: 1.5px;
    margin-left: 5px;
    padding: 1px 3px;
    color: @error;
    font-size: 20px;
    font-family: "Proxima Nova Light";
    cursor: pointer;

    &::before {
        content: "\D7";
    }
}