@import "partials/_base";

@import "util/_mixins";
@import "util/_colors";

/* the styles that are common among all pages */

#logo {
    h1 {
        margin-bottom: 40px;

        color: @dark_text;

        font-family: "Proxima Nova Thin";
        font-size: 70px;
        font-weight: 100;
        letter-spacing: 7px;
        text-align: center;

        a {
            text-decoration: none;
            &:visited {
                color: @dark_text;
            }
        }
    }
}

nav {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;

    background: @nav_bg;
    color: @light_text;

    li {
        font-weight: bold;
        cursor: pointer;

        a {
            text-decoration: none;
            display: inline-block;
            padding: 15px 10px;

            &:link, &:visited {
                color: @light_text;
            }

            &:hover {
                text-decoration: none;
                color: darken(@light_text, 15);
            }
        }
    }
}

.info_nav {
    margin-left: 30px;
    float: left;
}

.user_nav {
    float: right;
}

#homepage_search {
    input {
        display: block;
        width: 700px;
        height: 36px;
        border: 1px solid @border;
        border-radius: 105px;
        margin: 0 auto;
        padding: 3px 20px;

        font-size: 22px;

        outline: 0;
    }
}

#content_wrapper {
    width: 70%;
    margin: 0 auto;
}