@import "partials/_base";

#logo {
    h1 {
        color: #222;

        font-family: "Proxima Nova Thin";
        font-size: 70px;
        font-weight: 100;
        letter-spacing: 7px;
        text-align: center;

        a {
            text-decoration: none;
            &:visited {
                color: #222;
            }
        }
    }
}

nav {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;

    background: #000;
    color: @light_text;

    li {
        padding: 15px 10px;
        cursor: pointer;

        a {
            text-decoration: none;
            &:visited {
                color: @light_text;
            }
        }
    }
}

.info_nav {
    float: left;
}

.user_nav {
    float: right;
}

#content_wrapper {
    width: 70%;
    margin: 0 auto;
}

#hero {
    h2 {
        font-size: 40px;
        font-family: "Proxima Nova Thin";
    }
    .primary {
        float: right;
    }
}

.primary {
    width: 200px;
    height: 50px;
    border: none;

    background: @nav_bg;
    color: @light_text;

    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#homepage_search {
    input {
        display: block;
        width: 700px;
        height: 36px;
        border: 1px solid @border;
        border-radius: 105px;
        margin: 0 auto;
        padding: 3px 20px;

        font-size: 22px;

        outline: 0;
    }
}

.picture, .info {
    float: left;
}

.info {
    width: 600px;
    margin-left: 50px;
}

.name {
    font-size: 32px;
}

.price {
    font-size: 22px;
    font-weight: bold;
}

.size {
    font-size: 20px;
}

.active_ingredients {

}

.fav_ingredient, .dangerous_ingredient {
    border-radius: 5px;
    padding: 3px 5px;
    margin-right: 0px;
}

.fav_ingredient {
    background: @fav;
}

.dangerous_ingredient {
    background: @warning;
}

#page_content {
    margin-top: 75px;
}

.name {
    margin-bottom: 25px;
}

.price, .size {
    margin-bottom: 10px;
}

.product_pic {
    max-height: 300px;
    max-width: 300px;
}

.contained_products {
    ul {
        text-align: justify;
        -ms-text-justify: distribute-all-lines;
        text-justify: distribute-all-lines;

        li {
            vertical-align: top;
            display: inline-block;
            *display: inline;
            zoom: 1
        }

        .stretch {
            width: 100%;
            font-size: 0;
            line-height: 0
        }
    }
}

.product_infobox {
    position: relative;
    width: 405px;
    height: 350px;

    margin-bottom: 80px;

    text-align: center;

    .product_brand {
        position: absolute;
        bottom: 25px;

        width: 100%;

        font-weight: bold;
    }
    .product_name {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}

.filter_area {
    width: 20%;
    float: left;
}

.products_catalog {
    width: 70%;
    float: right;
    padding-left: 7%;
    border-left: 1px solid @nav_bg;
}

.filter_section {
    margin-top: 40px;
}

.filter_option {
    margin-bottom: 4px;

    label {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}