@import "util/_mixins";
@import "util/_colors";

#hero {
    h2 {
        font-size: 40px;
        font-family: "Proxima Nova Thin";
    }
    .primary {
        float: right;
    }
}

.ingredient_detail, .product_detail {
    .picture, .info {
        float: left;
    }

    .info {
        width: 600px;
        margin-left: 50px;
    }

    .name {
        font-size: 32px;
        margin-bottom: 25px;
    }

    .price {
        font-size: 22px;
        font-weight: bold;
    }

    .size {
        font-size: 20px;
    }

    .price, .size {
        margin-bottom: 10px;
    }
}

.ingredient, .function {
    border-radius: 5px;
    padding: 3px 5px;
}

.fav {
    background: @fav;
}

.warning {
    background: @warning;
}

#page_content {
    margin-top: 50px;
}

.product_pic {
    max-height: 300px;
    max-width: 300px;
}

.contained_products {
    ul {
        text-align: justify;
        -ms-text-justify: distribute-all-lines;
        text-justify: distribute-all-lines;

        li {
            vertical-align: top;
            display: inline-block;
            *display: inline;
            zoom: 1
        }

        .stretch {
            width: 100%;
            font-size: 0;
            line-height: 0
        }
    }
}

.product {
    position: relative;
    width: 405px;
    height: 350px;
    margin-bottom: 80px;
    text-align: center;

    .brand {
        position: absolute;
        bottom: 25px;
        width: 100%;
        font-weight: bold;
    }

    .name {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}

.filter_area {
    width: 20%;
    float: left;
}

.products_catalog, .ingredients_list {
    width: 70%;
    float: right;
    padding-left: 7%;
    border-left: 1px solid @nav_bg;
}

.filter_section {
    margin-top: 40px;
}

.filter_option {
    margin-bottom: 4px;

    label {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.ingredient_item, .ingredient_infobox {
    margin-bottom: 15px;

    .function {
        border-radius: 5px;
        padding: 3px 5px;
        margin-right: 10px;
    }
}

.neutral {
    background: @neutral;
}

.field {
    margin: 10px 0;
}

.field.right {
    .no_margin;
    text-align: right;
}

#login_form .button_container {
    .no_margin;
}

.popup {
    .hidden;
}

.popup_bg {
    background: #3d464d;
    opacity: 0.6;
    .whole_page;
}

.wrapper {
    display: table;
    .whole_page;
}

.popup_cell {
    display: table-cell;
    vertical-align: middle;
}

.form_container {
    position: relative;
    display: block;
    width: 400px;
    padding: 20px 40px 40px 40px;
    text-align: left;
    background-color: @bg;
    opacity: 1;
    border: none;
    z-index: 9999;
    .hor_center;
    overflow: hidden;
}

.form_container {
    .field {
        margin: 10px 0;
    }
}

.error_msg {
    width: 300px;
    margin: 10px 0;
    font-size: 1.1em;
    color: @error;
    .hidden;
}

.close_btn {
    position: absolute;
    display: inline-block;
    .square(20px);
    color: @nav_bg;
    font-size: 30px;
    cursor: pointer;
    top: 0;
    right: 2px;
    padding: 8px;

    &::before {
        content: "\D7";
    }
}

.ingredient_infobox {
    position: absolute;
    .hidden;
    width: 400px;
    padding: 0 30px 20px 30px;
    background: @bg;
    border: 1px solid @border;
}

.ingredient {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

a.explicit {
    text-decoration: underline;
}

.labels {
    float: left;
    margin-right: 10px;
    line-height: 35px;

    label {
        position: relative;
        bottom: 1px;
        display: block;
        text-align: right;
    }
}

.inputs {
    line-height: 35px;
}

.button_container {
    margin-top: 20px;
}

#search_icon {
    position: relative;
    top: 7px;
    padding: 3px;
    .square(20px);
    fill: @light_text;

    &:hover {
        fill: darken(@light_text, 15);
    }
}

#nav_searchbar {
    border-radius: 99px;
    height: 25px;
    font-size: 17px;
    padding: 0 12px;

    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;

    &.closed {
        width: 0;
        background: @nav_bg;
        border: none;
    }

    &.activated {
        width: 400px;
        background: @bg;
        border: 1px solid @border;
    }
 }

.notice_container {
    position: fixed;
    top: 80px;
    right: 30px;

    .info, .error {
        position: relative;
        display: none;
        width: 400px;
        min-height: 50px;
        margin-bottom: 20px;
        padding: 20px 20px 5px 20px;
        color: @light_text;

        .close_btn {
            color: @light_text;
        }
    }

    .info {
        background: @nav_bg;
    }

    .error {
        background: @error;
    }
}

.edit_user_container, .edit_group_container, .edit_ingredient_container {
    display: none;
}

.tab_headers {
    padding-bottom: 8px;
    border-bottom: 1px solid @nav_bg;
}

a.tab_title {
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid @nav_bg;
    border-left: 1px solid @light_text;
    border-bottom: none;
    background: @nav_bg;
    font-family: "Proxima Nova Light";
    color: @light_text;
    .no_margin;

    &:hover {
        color: darken(@light_text, 15);
        text-decoration: none;
    }

    &:first-of-type {
        border-left: none;
    }

    &.current + & {
        border-left: 1px solid @nav_bg;
    }

    &.current {
        background: @bg;
        color: @dark_text;

        border: 1px solid @nav_bg;
        border-bottom: none;
        font-weight: bold;
    }
}

.preference_list {
    margin-left: 45px;

    li {
        margin-bottom: 8px;
        list-style: square;

        &:last-of-type {
            margin-bottom: 12px;
        }
    }
}

.routines {
    li {
        margin-bottom: 8px;
    }
}

.delete_preference {
    display: none;
    position: relative;
    top: 1px;
    margin-left: 3px;
    padding: 0 5px;

    font-weight: bolder;
    font-size: 22px;
    color: @error;

    cursor: pointer;

    &::before {
        content: "\D7";
    }
}

.profile_add_btn {
    display: none;
}

.column {
    min-width: 500px;
    margin-right: 30px;
    float: left;
}

.user_routine {
    .column {
        max-width: 500px;
    }

    .product_type {
        font-weight: bold;
    }
}

.down_arrow {
    position: relative;
    bottom: 2px;
    margin-left: 6px;
    font-size: 14px;

    &::before {
        content: "\25BC";
    }
}

.edit_btns {
    display: none;
    margin-top: 5px;
}

.editing {
    li {
        margin-bottom: 15px;
        padding: 10px 20px;
        background: @neutral;
    }

    .edit_btns {
        display: block;
    }
}