@import "util/_mixins";
@import "util/_colors";

.delete_preference {
    display: none;
    position: relative;
    top: 1px;
    margin-left: 3px;
    padding: 0 5px;

    font-weight: bolder;
    font-size: 22px;
    color: @error;

    cursor: pointer;

    &::before {
        content: "\D7";
    }
}

.profile_add_btn {
    display: none;
}

.preference_list {
    margin-left: 45px;

    li {
        margin-bottom: 8px;
        list-style: square;

        &:last-of-type {
            margin-bottom: 12px;
        }
    }
}

#add_ingredient_work_not_found,
#add_ingredient_doesnt_work_not_found,
#add_ingredient_bad_reaction_not_found {
    left: 126px;
    padding: 4px 7px;
    z-index: 1;
    width: 162px;
    top: 24px;
}

.field {
    position: relative;
}