@import "util/_mixins";
@import "util/_colors";

.column {
    width: 500px;
}

a.delete_preference {
    color: @border;

    &:hover {
        color: @dark_text;
    }
}

.preference_list_tem {
    margin-right: 10px;
}

.profile_add_btn {
    display: none;
}

.preference_list {
    margin-left: 45px;

    li {
        margin-bottom: 8px;
        list-style: square;

        &:last-of-type {
            margin-bottom: 12px;
        }
    }
}

.preference_not_found {
    display: none;
    left: 126px;
    padding: 4px 7px;
    z-index: 1;
    width: 162px;
    top: 24px;
}

.field {
    position: relative;
}