@(state: src.controllers.util.ResponseState)

@template("Admin Console", state) {

<link rel="stylesheet" media="screen" href='@routes.Assets.at("/public", "stylesheets/admin.css")'>

} {

<div class="tab_container">
    <div class="tab_headers">
        <a href="#" class="tab_title current" data-tab-name="import_tab">Database</a><a href="#" class="tab_title"
          data-tab-name="user_tab">User</a><a href="#" class="tab_title" data-tab-name="group_tab">Group</a><a href="#"
    class="tab_title" data-tab-name="feedback_tab">Feedback</a>
    </div>

    <div class="tab" id="import_tab">
        <h1>Database Manager</h1>
        <p>Click to import data to database or export database to file:</p>
        <div class="field">
            <p>
                <input id="import_btn" class="primary" type="button" value="Import to DB"/>
                <input id="export_btn" class="primary" type="button" value="Export DB"/>
            </p>
        </div>
    </div>

    <div class="tab" id="user_tab">
        <h1>User Manager</h1>
        <div class="field">
            <div class="labels">
                <label for="user_by_id">By ID:</label>
                <label for="user_by_email">By email:</label>
            </div>

            <div class="inputs">
                <input type="text" id="user_by_id"/>
                <input type="button" id="user_by_id_btn" value="Search"/>
                <br>
                <input type="email" id="user_by_email"/>
                <input type="button" id="user_by_email_btn" value="Search"/>
            </div>
        </div>

        <div class="edit_container" id="edit_user">
            <h2>Edit User</h2>
            <div class="field">
                <div class="labels">
                    <label for="edit_user_id">ID:</label>
                    <label for="edit_user_name">Name:</label>
                    <label for="edit_user_email">Email:</label>
                    <label for="edit_user_group">Group:</label>
                    <label for="edit_user_permissions">Permissions:</label>
                </div>

                <div class="inputs">
                    <input type="text" id="edit_user_id" disabled/>
                    <br>
                    <input type="text" id="edit_user_name"/>
                    <br>
                    <input type="email" id="edit_user_email"/>
                    <br>
                    <input type="text" id="edit_user_group"/>
                    <br>
                    <input type="text" id="edit_user_permissions"/>
                </div>
                <div class="field">
                    <p>
                        <input id="save_user_btn" class="primary" type="button" value="Save"/>
                        <input id="delete_user_btn" class="primary" type="button" value="Delete"/>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="tab" id="group_tab">
        <h1>Group Manager</h1>
        <div class="field">
            <div class="labels">
                <label for="group_by_id">By ID:</label>
                <label for="group_by_name">By name:</label>
            </div>

            <div class="inputs">
                <input type="text" id="group_by_id"/>
                <input type="button" id="group_by_id_btn" value="Search"/>
                <br>
                <input type="text" id="group_by_name"/>
                <input type="button" id="group_by_name_btn" value="Search"/>
            </div>
        </div>
        <p>
            <input id="create_group_btn" class="primary" type="button" value="Create group"/>
        </p>

        <div class="edit_container" id="edit_group">
            <h2>Edit Group</h2>
            <div class="field">
                <div class="labels">
                    <label for="edit_group_id">ID:</label>
                    <label for="edit_group_name">Name:</label>
                    <label for="edit_group_permissions">Permissions:</label>
                </div>

                <div class="inputs">
                    <input type="text" id="edit_group_id" disabled/>
                    <br>
                    <input type="text" id="edit_group_name"/>
                    <br>
                    <input type="text" id="edit_group_permissions"/>
                </div>
                <div class="field">
                    <p>
                        <input id="save_group_btn" class="primary" type="button" value="Save"/>
                        <input id="delete_group_btn" class="primary" type="button" value="Delete"/>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="tab" id="feedback_tab">
        <h1>User Feedback</h1>
        <div class="feedback_container"></div>
    </div>

</div>
} {

<script src='@routes.Assets.at("/public", "javascripts/admin.js")'></script>

}
