@(state: src.controllers.util.ResponseState, brand: src.models.data.Brand)

@template(brand.getName + " - Skin Wise", state) {

    <link rel="stylesheet" media="screen" href='@routes.Assets.at("/public", "stylesheets/browse.css")'>

} {

    <div class="brand_detail">
        <h1>@brand.getName</h1>
        @filters(false, true, true, false, true, true)

        <div class="products_list">
            <ul class="horizontal">
            </ul>
            <div class="end_of_results">No more results.</div>
            <div id="loading_spinner"></div>
        </div>

        <div id="back_to_top">
            <span class="chevron top"></span>
            Back to Top
        </div>
    </div>

} {

    <script src='@routes.Assets.at("/public", "javascripts/vendor/spin-min.js")'></script>
    <script src='@routes.Assets.at("/public", "javascripts/browse.js")'></script>
    <script>
        SW.CUR_BRAND = @brand.getId;
        SW.BROWSE_TYPE = 'product';
        initBrowse();
    </script>

}
