@(state: src.controllers.util.ResponseState)

@template("Content Editor - Skin Wise", state) {

    <link rel="stylesheet" media="screen" href='@routes.Assets.at("/public", "stylesheets/admin.css")'>

} {

    <div class="tab_container">
        <div class="tab_headers">
            <a href="#" class="tab_title current" data-tab-name="ingredient_tab">Ingredient</a><a href="#" class="tab_title"
        data-tab-name="product_tab">Product</a><a href="#" class="tab_title" data-tab-name="function_tab">Function</a><a
        href="#" class="tab_title" data-tab-name="brand_tab">Brand</a><a href="#" class="tab_title"
        data-tab-name="type_tab">Type</a><a href="#" class="tab_title" data-tab-name="unmatched_tab">Unmatched</a><a
        href="#" class="tab_title" data-tab-name="rematch_tab">Rematch Alias</a>
        </div>

        <div class="tab" id="ingredient_tab">
            <h1>Ingredient Editor</h1>
            <div class="field">
                <div class="labels">
                    <label for="ingredient_by_id">Enter name:</label>
                </div>

                <div class="inputs">
                    <input type="text" id="ingredient_by_id"/>
                    <input type="button" id="ingredient_by_id_btn" value="Search"/>
                </div>
            </div>
            <p>
                <input id="create_ingredient_btn" class="primary" type="button" value="Create ingredient"/>
            </p>

            <div class="edit_container" id="edit_ingredient">
                <h2>Edit Ingredient</h2>
                <div class="field">
                    <div class="labels">
                        <label for="edit_ingredient_id">ID:</label>
                        <label for="edit_ingredient_name">Name:</label>
                        <label for="edit_ingredient_cas_number">CAS name:</label>
                        <label for="edit_ingredient_popularity">Popularity:</label>
                        <label for="edit_ingredient_description">Description:</label>
                    </div>

                    <div class="inputs">
                        <input type="text" id="edit_ingredient_id" disabled/>
                        <br>
                        <input type="text" id="edit_ingredient_name"/>
                        <br>
                        <input type="text" id="edit_ingredient_cas_number"/>
                        <br>
                        <input type="text" id="edit_ingredient_popularity"/>
                        <br>
                        <textarea type="text" id="edit_ingredient_description"></textarea>
                    </div>

                    <div class="labels">
                        <label for="edit_ingredient_functions">Functions:&nbsp;&nbsp;&nbsp;</label>

                    </div>
                    <div class="inputs">
                        <textarea type="text" id="edit_ingredient_functions"></textarea>
                    </div>
                    <div class="field">
                        <p>
                            <input id="save_ingredient_btn" class="primary" type="button" value="Save"/>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab" id="product_tab">
            <h1>Product Editor</h1>
            <div class="field">
                <div class="labels">
                    <label for="product_by_id">Enter name:</label>
                </div>

                <div class="inputs">
                    <input type="text" id="product_by_id"/>
                    <input type="button" id="product_by_id_btn" value="Search"/>
                </div>
            </div>
            <p>
                <input id="create_product_btn" class="primary" type="button" value="Create product"/>
            </p>

            <div class="edit_container" id="edit_product">
                <h2>Edit Product</h2>
                <div class="field">
                    <div class="labels">
                        <label for="edit_product_id">ID:</label>
                        <label for="edit_product_name">Name:</label>
                        <label for="edit_product_brand">Brand:</label>
                        <label for="edit_product_line">Line:</label>
                        <label for="edit_product_price">Price:</label>
                        <label for="edit_product_size">Size:</label>
                        <label for="edit_product_size_unit">Size unit:</label>
                        <label for="edit_product_image">Image URL:</label>
                        <label for="edit_product_popularity">Popularity:</label>
                        <label for="edit_product_description">Description:</label>
                    </div>

                    <div class="inputs">
                        <input type="text" id="edit_product_id" disabled/>
                        <br>
                        <input type="text" id="edit_product_name"/>
                        <br>
                        <input type="text" id="edit_product_brand"/>
                        <br>
                        <input type="text" id="edit_product_line"/>
                        <br>
                        <input type="text" id="edit_product_price"/>
                        <br>
                        <input type="text" id="edit_product_size"/>
                        <br>
                        <input type="text" id="edit_product_size_unit"/>
                        <br>
                        <input type="text" id="edit_product_image"/>
                        <br>
                        <input type="text" id="edit_product_popularity"/>
                        <br>
                        <textarea type="text" id="edit_product_description"></textarea>
                    </div>

                    <div class="field">
                        <p>
                            <input id="save_product_btn" class="primary" type="button" value="Save"/>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab" id="function_tab">
            <h1>Function Editor</h1>
            <div class="field">
                <div class="labels">
                    <label for="function_by_id">Enter name:</label>
                </div>

                <div class="inputs">
                    <input type="text" id="function_by_id"/>
                    <input type="button" id="function_by_id_btn" value="Search"/>
                </div>
            </div>
            <p>
                <input id="create_function_btn" class="primary" type="button" value="Create function"/>
            </p>

            <div class="edit_container" id="edit_function">
                <h2>Edit Function</h2>
                <div class="field">
                    <div class="labels">
                        <label for="edit_function_id">ID:</label>
                        <label for="edit_function_name">Name:</label>
                        <label for="edit_function_description">Description:</label>
                    </div>

                    <div class="inputs">
                        <input type="text" id="edit_function_id" disabled/>
                        <br>
                        <input type="text" id="edit_function_name"/>
                        <br>
                        <textarea type="text" id="edit_function_description"></textarea>
                    </div>

                    <div class="field">
                        <p>
                            <input id="save_function_btn" class="primary" type="button" value="Save"/>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab" id="brand_tab">
            <h1>Brand Editor</h1>
            <div class="field">
                <div class="labels">
                    <label for="brand_by_id">Enter name:</label>
                </div>

                <div class="inputs">
                    <input type="text" id="brand_by_id"/>
                    <input type="button" id="brand_by_id_btn" value="Search"/>
                </div>
            </div>
            <p>
                <input id="create_brand_btn" class="primary" type="button" value="Create brand"/>
            </p>

            <div class="edit_container" id="edit_brand">
                <h2>Edit Brand</h2>
                <div class="field">
                    <div class="labels">
                        <label for="edit_brand_id">ID:</label>
                        <label for="edit_brand_name">Name:</label>
                        <label for="edit_brand_description">Description:</label>
                    </div>

                    <div class="inputs">
                        <input type="text" id="edit_brand_id" disabled/>
                        <br>
                        <input type="text" id="edit_brand_name"/>
                        <br>
                        <textarea type="text" id="edit_brand_description"></textarea>
                    </div>

                    <div class="field">
                        <p>
                            <input id="save_brand_btn" class="primary" type="button" value="Save"/>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="tab" id="type_tab">
            <h1>Product Type Editor</h1>
            <div class="field">
                <div class="labels">
                    <label for="type_by_id">Enter name:</label>
                </div>

                <div class="inputs">
                    <input type="text" id="type_by_id"/>
                    <input type="button" id="type_by_id_btn" value="Search"/>
                </div>
            </div>
            <p>
                <input id="create_type_btn" class="primary" type="button" value="Create type"/>
            </p>

            <div class="edit_container" id="edit_type">
                <h2>Edit Type</h2>
                <div class="field">
                    <div class="labels">
                        <label for="edit_type_id">ID:</label>
                        <label for="edit_type_name">Name:</label>
                        <label for="edit_type_description">Description:</label>
                    </div>

                    <div class="inputs">
                        <input type="text" id="edit_type_id" disabled/>
                        <br>
                        <input type="text" id="edit_type_name"/>
                        <br>
                        <textarea type="text" id="edit_type_description"></textarea>
                    </div>

                    <div class="field">
                        <p>
                            <input id="save_type_btn" class="primary" type="button" value="Save"/>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab" id="unmatched_tab">
            <h1>View Unmatched Ingredients</h1>
            <div class="field">
                <input type="button" class="primary" id="refresh_unmatched_btn" value="Load"/>
                <div class="unmatched_container"></div>
            </div>
        </div>

        <div class="tab" id="rematch_tab">
            <h1>Rematch Alias to Ingredient</h1>
            <div class="field">
                <div class="labels">
                    <label for="rematch_alias">Alias:</label>
                    <label for="rematch_ingredient">Ingredient:</label>
                </div>

                <div class="inputs">
                    <input type="text" id="rematch_alias"/>
                    <input type="button" id="rematch_alias_lookup" value="Lookup"/>
                    <br>
                    <input type="text" id="rematch_ingredient"/>
                </div>
                <p id="alias_match_info"></p>
            </div>
            <p>
                <input id="rematch_btn" class="primary" type="button" value="Update Match"/>
            </p>
        </div>


    </div>
} {


    <script src='@routes.Assets.at("/public", "javascripts/editor.js")'></script>

}
