@(state: src.controllers.util.ResponseState)
<div class="feedback popup">
    <div class="popup_bg"></div>
    <div class="wrapper">
        <div class="popup_cell">
            <div class="form_container">
                <span class="close_btn"></span>

                <form id="feedback_form" method="post" onsubmit="return false;">
                    <h1>Feedback</h1>
                    <div id="login_error" class="error_msg">Error</div>

                    <div class="labels">
                        @if(state.getUser == null) {
                            <label for="feedback_name">Name:</label>
                            <label for="feedback_email">Email:</label>
                        }
                        <label for="feedback_type">Type:</label>
                        <label for="feedback_message">Feedback:</label>
                    </div>

                    <div class="inputs">
                        @if(state.getUser == null) {
                            <input type="text" id="feedback_name" required/>
                            <input type="email" id="feedback_email" required/>
                        }
                        <select id="feedback_type">
                            <option value="none">Choose type&hellip;</option>
                            <option value="question">Question / Need Help</option>
                            <option value="content">Inaccurate Content</option>
                            <option value="bug">Bug Report</option>
                            <option value="suggestion">Suggestion</option>
                            <option value="thanks">Just Saying Thanks</option>
                            <option value="other">Other Feedback</option>
                        </select>
                        <textarea id="feedback_message"></textarea>
                    </div>

                    <div class="button_container">
                        <input id="login_btn" class="primary" type="button" name="login_submit" value="Send feedback">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>