@()
<div class="forgot_password popup">
    <div class="popup_bg"></div>
    <div class="wrapper">
        <div class="popup_cell">
            <div class="form_container">
                <span class="close_btn"></span>

                <form id="forgot_password_form" method="post" onsubmit="return false;">
                    <h1>Find password</h1>
                    <div id="login_error" class="error_msg">Error</div>

                    <div class="labels">
                        <label for="login_email">Email:</label>
                    </div>

                    <div class="inputs">
                        <input type="email" id="login_email" required/>
                    </div>

                    <div class="button_container">
                        <input id="login_btn" class="primary" type="submit" name="login_submit" value="Reset password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
