@(state: src.controllers.util.ResponseState)

@template("Skin Wise", state) {

} {

    <div id="homepage_search">
        <input type="text" placeholder="Type in any ingredient or product&hellip;"/>
    </div>

    <div id="mission">
        <p>Welcome to Skin Wise! The mission of Skin Wise is <span class="emphasis">better skin each day for everyone</span>.</p>
        <p>How, you may ask?</p>

        <p>We help you to do it <span class="emphasis">WISEly</span>:</p>
        <h2>
            W = witness
        </h2>
        <p>
            With our tracking system (coming soon), you can witness the change in your skin every day. By learning from
            the past, you learn what works and what doesn't work for your special skin.
        </p>

        <h2>
            I = informed
        </h2>
        <p>With our extensive <a class="explicit" href="/products">product</a> and <a class="explicit"
                href="/ingredients">ingredient database</a>, you learn about what's in each
            product and what does each ingredient do. Discover better products with confidence.
        </p>

        <h2>
            S = skin-oriented community
            </h2>
        <p>
            Reach out to those with similar skins and learn from their stories.
        </p>

        <h2>
            E = enjoy the journey
        </h2>
        <p>
            Getting great skin is wonderful and all, but a rational mind, the  willingness to learn, and self discipline
            are what make you beautiful inside and the journey worthwhile.
        </p>
        <p>
            Sounds good? Let's get started.
        </p>

        <input type="button" class="primary" value="Get started"/>

    </div>

} {

}
