@(state: src.controllers.util.ResponseState, ingredient: src.models.data.Ingredient)

@import src.util.Util;
@import org.apache.commons.lang3.text.WordUtils;
@template(ingredient.getDisplayName + " - Skin Wise", state) {

} {

<div class="ingredient_detail">

    <div class="section">
        <h1 class="name">@ingredient.getDisplayName</h1>
        @if(ingredient.getNamesString.size > 0) {
            <div class="alternate_names">
                Also known as
                @Util.joinString(", ", ingredient.getNamesString.map{WordUtils.capitalizeFully(_)}
                        .filter{_.toLowerCase != ingredient.getName.toLowerCase})
            </div>
        }
    </div>

    <div class="functions section">
        <h3>What It Does</h3>
        <p>@for(f <- ingredient.getFunctions) {
            <a class="function neutral" data-id="@f.getId">@WordUtils.capitalizeFully(f.getName)</a>
        }
        </p>
    </div>

    <div class="description section">
        <h3>What It Is</h3>
        <p>@ingredient.getDescription</p>
    </div>

    <div class="contained_products section">
        <h3>Products with @ingredient.getDisplayName</h3>
        <ul>
            <li class="stretch"></li>
        </ul>
    </div>
</div>

} {

<script>
    postToAPI('/product/filter', {
        brands: [],
        ingredients: [@ingredient.getId],
        page: 0
    }, getContainingProductsSuccess);
</script>

}
