@(state: src.controllers.util.ResponseState)

@template("Browse Ingredients - Skin Wise", state) {

    <link rel="stylesheet" media="screen" href='@routes.Assets.at("/public", "stylesheets/browse.css")'>

} {

    @ingredient_filters(true, true, true)

    <div class="ingredients_list">
        <ul></ul>
        <div class="end_of_results"></div>
        <div id="loading_spinner"></div>
    </div>

    <div id="back_to_top">
        <span class="chevron top"></span>
        Back to Top
    </div>

} {

    <script src='@routes.Assets.at("/public", "javascripts/vendor/spin-min.js")'></script>
    <script src='@routes.Assets.at("/public", "javascripts/browse.js")'></script>
    <script>
        SW.BROWSE_TYPE = 'ingredient';
        initBrowse('ingredient');
    </script>

}
