@(state: src.controllers.util.ResponseState)

@template("Browse Ingredients - Skin Wise", state) {

} {

<div class="filter_area section">
    <h2>Filters</h2>

    <!--<div class="filter_section">-->
        <!--<h3>Skin Type</h3>-->
        <!--<div>-->
            <!--<div class="filter_option">-->
                <!--<input type="checkbox" id="skin_type_normal"/>-->
                <!--<label for="skin_type_normal">Normal</label>-->
            <!--</div>-->


            <!--<div class="filter_option">-->
                <!--<input type="checkbox" id="skin_type_oily"/>-->
                <!--<label for="skin_type_oily">Oily</label>-->
            <!--</div>-->


            <!--<div class="filter_option">-->
                <!--<input type="checkbox" id="skin_type_dry"/>-->
                <!--<label for="skin_type_dry">Dry</label>-->
            <!--</div>-->

            <!--<div class="filter_option">-->
                <!--<input type="checkbox" id="skin_type_combination"/>-->
                <!--<label for="skin_type_combination">Combination</label>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="filter_section">-->
        <!--<h3>Concern</h3>-->
        <!--<div>-->
            <!--<div class="filter_option">-->
                <!--<input type="checkbox" id="concern_acne"/>-->
                <!--<label for="concern_acne">Acne</label>-->
            <!--</div>-->

            <!--<div class="filter_option">-->
                <!--<input type="checkbox" id="concern_aging_skin"/>-->
                <!--<label for="concern_aging_skin">Aging Skin</label>-->
            <!--</div>-->

            <!--<div class="filter_option">-->
                <!--<input type="checkbox" id="concern_enlareged_pores"/>-->
                <!--<label for="concern_enlareged_pores">Enlarged Pores</label>-->
            <!--</div>-->

            <!--<div class="filter_option">-->
                <!--<input type="checkbox" id="concern_fine_lines_wrinkles"/>-->
                <!--<label for="concern_fine_lines_wrinkles">Fine Lines & Wrinkles</label>-->
            <!--</div>-->

            <!--<div class="filter_option">-->
                <!--<input type="checkbox" id="concern_dark_spots"/>-->
                <!--<label for="concern_dark_spots">Dark Spots</label>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="filter_section">
        <h3>Function</h3>
        <div>
            <div class="filter_option">
                <input type="checkbox" class="function_filter" id="antidandruff" data-id="32"/>
                <label for="antidandruff">Antidandruff</label>
            </div>

            <div class="filter_option">
                <input type="checkbox" class="function_filter" id="antioxidant" data-id="20"/>
                <label for="antioxidant">Antioxidant</label>
            </div>

            <div class="filter_option">
                <input type="checkbox" class="function_filter" id="emollient" data-id="9"/>
                <label for="emollient">Emollient (softens skin)</label>
            </div>

            <div class="filter_option">
                <input type="checkbox" class="function_filter" id="humectant" data-id="3"/>
                <label for="humectant">Humectant (keeps moisture)</label>
            </div>

            <div class="filter_option">
                <input type="checkbox" class="function_filter" id="moisturising" data-id="23"/>
                <label for="moisturising">Moisturizing</label>
            </div>

            <div class="filter_option">
                <input type="checkbox" class="function_filter" id="smoothing" data-id="43"/>
                <label for="smoothing">Smoothing</label>
            </div>

            <div class="filter_option">
                <input type="checkbox" class="function_filter" id="uv_filter" data-id="34"/>
                <label for="uv_filter">UV filter</label>
            </div>
        </div>
    </div>
</div>

<div class="ingredients_list">
    <ul></ul>
    <div id="loading_spinner"></div>
</div>

} {

<script src='@routes.Assets.at("javascripts/vendor/spin-min.js")'></script>
<script src='@routes.Assets.at("javascripts/browse_ingredients.js")'></script>

}
