@(state: src.controllers.util.ResponseState, ingredient: src.models.data.Ingredient)

@template(ingredient.getDisplayName + " - Skin Wise", state) {

} {

<div class="ingredient_detail">

    <div class="section">
        <h1 class="name">@ingredient.getDisplayName</h1>
        <div class="classification"></div>
    </div>

    <div class="functions section">
        <h3>What It Does</h3>
        <p>@for(f <- ingredient.getFunctionsString) {
            <a class="function neutral">@f</a>
        }
        </p>
    </div>

    <div class="description section">
        <h3>What It Is</h3>
        <p>@ingredient.getDescription</p>
    </div>

    <div class="contained_products section">
        <h3>Products with @ingredient.getDisplayName</h3>
        <ul>
            <li class="stretch"></li>
        </ul>
    </div>
</div>

} {

<script>
    postToAPI('/product/filter', {
        brands: [],
        ingredients: [@ingredient.getId],
        page: 0
    }, getContainingProductsSuccess);
</script>

}
