@(state: src.views.ResponseState)

@template("Browse Ingredients - Skin Wise", state) {

} {

<div id="page_content">
    <div class="filter_area section">
        <h2>Filters</h2>

        <div class="filter_section">
            <h3>Skin Type</h3>
            <div>
                <div class="filter_option">
                    <input type="checkbox" id="skin_type_normal"/>
                    <label for="skin_type_normal">Normal</label>
                </div>


                <div class="filter_option">
                    <input type="checkbox" id="skin_type_oily"/>
                    <label for="skin_type_oily">Oily</label>
                </div>


                <div class="filter_option">
                    <input type="checkbox" id="skin_type_dry"/>
                    <label for="skin_type_dry">Dry</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="skin_type_combination"/>
                    <label for="skin_type_combination">Combination</label>
                </div>
            </div>
        </div>

        <div class="filter_section">
            <h3>Concern</h3>
            <div>
                <div class="filter_option">
                    <input type="checkbox" id="concern_acne"/>
                    <label for="concern_acne">Acne</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="concern_aging_skin"/>
                    <label for="concern_aging_skin">Aging Skin</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="concern_enlareged_pores"/>
                    <label for="concern_enlareged_pores">Enlarged Pores</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="concern_fine_lines_wrinkles"/>
                    <label for="concern_fine_lines_wrinkles">Fine Lines & Wrinkles</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="concern_dark_spots"/>
                    <label for="concern_dark_spots">Dark Spots</label>
                </div>
            </div>
        </div>

        <div class="filter_section">
            <h3>Function</h3>
            <div>
                <div class="filter_option">
                    <input type="checkbox" id="function_1"/>
                    <label for="function_1">Antibacteria</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="function_2"/>
                    <label for="function_2">Anti-inflammatory</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="function_3"/>
                    <label for="function_3">Emollient (softens skin)</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="function_4"/>
                    <label for="function_4">Antioxidant</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="function_5"/>
                    <label for="function_5">Melanin inhibitor (lightens skin)</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="function_6"/>
                    <label for="function_6">Moisturizer</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="function_7"/>
                    <label for="function_7">Humectant (keeps moisture)</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="function_8"/>
                    <label for="function_8">Exfoliant</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="function_9"/>
                    <label for="function_9">Antiseptic</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="function_10"/>
                    <label for="function_10">Sunscreen</label>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ingredients_list">
        <ul>
            <li>
                    <div class="ingredient_item">

                        <h2 class="name"><a href="/ingredient/1">Mandelic Acid</a></h2>
                        <p class="functions">
                            <span class="function neutral">Exfoliant</span>
                            <span class="function fav">Melanin Inhibitor</span>
                        </p>
                        <p class="ingredient_description">Mandelic acid is one of the largest alpha hydroxy acids (AHAs),
                            and derived from bitter almonds. In other areas of healthcare it is used as an antibacterial,
                            but for skincare, it's useful for treating irregular pigmentation, acne, photoaging and mature dry skin.</p>
                    </div>
            </li>

            <li>
                <div class="ingredient_item">
                    <h2 class="name">Algae Extract</h2>
                    <p class="functions">
                        <span class="function fav">Anti-inflammatory</span>
                        <span class="function neutral">Emollient</span>
                    </p>
                    <p class="ingredient_description">Algae is a water-dwelling plant packed with carotenoids, a group of
                        plant antioxidants that promote healthy cell behavior. This antioxidant goo is extracted from algae
                        with the hopes that those benefits will carry over to a topical product.</p>
                </div>
            </li>

            <li>
                <div class="ingredient_item">
                    <h2 class="name">Lemon Juice</h2>
                    <p class="functions">
                        <span class="function warning">Irritant</span>
                    </p>
                    <p class="ingredient_description">Lemon juice is possibly the most common ingredient in DIY recipes
                        - not just for skincare, but also cleaning, haircare and of course, food. It's touted to be
                        lightening, anti-acne, and exfoliating. While it does contain chemicals that do those things
                        (vitamin C, niacin, citric acid), it also comes with a dangerous catch.</p>
                </div>
            </li>

            <li>
                <div class="ingredient_item">
                    <h2 class="name">Alpha Lipoic Acid</h2>
                    <p class="functions">
                        <span class="function fav">Antioxidant</span>
                    </p>
                    <p class="ingredient_description">Alpha-lipoic acid (ALA) is an antioxidant, similar to vitamins A,
                        C and E, and ubiquinone (coenzyme Q10). It is found in very limited amounts in healthy skin cells,
                        speeds up wound healing, and helps protect the skin against damage caused by exposure to UVB rays.</p>
                </div>
            </li>

            <li>
                <div class="ingredient_item">
                    <h2 class="name">Azelaic Acid</h2>
                    <p class="functions">
                        <span class="function fav">Melanin Inhibitor</span>
                    </p>
                    <p class="ingredient_description">Azelaic acid is a naturally-occurring dicarboxylic acid that is an
                        effective external treatment for acne, rosacea, melasma, and postinflammatory hyperpigmentation. </p>
                </div>
            </li>

            <li>
                <div class="ingredient_item">
                    <h2 class="name">Benzoyl Peroxide</h2>
                    <p class="functions">
                        <span class="function fav">Antibacterial</span>
                    </p>
                    <p class="ingredient_description">Benzoyl peroxide is an extremely popular acne treatment that is
                        cheap, safe, and very effective. It functions primarily as an antimicrobial agent, obliterating
                        bacteria such as the acne-causing Propionibacterium acnes on the surface skin.</p>
                </div>
            </li>

            <li>
                <div class="ingredient_item">
                    <h2 class="name">Glycerin</h2>
                    <p class="functions">
                        <span class="function neutral">Moisturizer</span>
                    </p>
                    <p class="ingredient_description">Glycerin (also called glycerol) is a very effective humectant, used
                        in many moisturizers to increase skin hydration, and in a lot of other important products as well
                        (it can be used as a laxative, and to make explosive nitroglycerin). It occurs naturally in your
                        skin as part of its home-grown moisturizing system, the natural moisturising factor (NMF), but
                        the glycerin in your cream comes from fats and oils during the production of soap and biodiesel
                        - each molecule of fat or oil breaks up to give one molecule of glycerin.</p>
                </div>
            </li>
        </ul>
    </div>
</div>

} {

}
