@(state: src.controllers.util.ResponseState, product: src.models.data.Product)
@import src.controllers.userdata.UserPreferenceController;

@getIngredientClass(id: Long) = @{
    val is_working = UserPreferenceController.is_in_list(state.getUser, UserPreferenceController.INGREDIENTS_WORKING, id)
    val is_not_working = UserPreferenceController.is_in_list(state.getUser, UserPreferenceController.INGREDIENTS_NOT_WORKING, id)
    val is_bad_reaction = UserPreferenceController.is_in_list(state.getUser, UserPreferenceController.INGREDIENTS_BAD_REACTION, id)

    if (is_bad_reaction) {
        " bad_reaction"
    } else if (is_not_working) {
        " not_working"
    } else if (is_working) {
        " working"
    }
}

@template(product.getBrand.getName + " " + product.getName + " - Skin Wise", state) {

} {

    <div class="product_detail">
        <div class="picture">
        @if(product.getImage.length > 0) {
            <img src="@product.getImage" alt="@product.getBrandName @product.getName"/>
        } else {
            <img src="@routes.Assets.at("/public", "images/placeholder.png")" alt="No Image Available"/>
        }
        </div>

        <div class="detail_container">
            <h1 class="name">@product.getName</h1>
            <h3 class="brand">by <a href="/brand/@product.getBrand.getId">@product.getBrandName</a></h3>

            @if(product.getPrice != null) {
                <div>
                    <span class="price_info">@product.getFormattedPrice</span>
                    <p>Size: @product.getSize @product.getSize_unit</p>
                </div>
            }

            @if(product.getProduct_type_id != 0) {
                <div class="claim">
                    <h3>What It Does</h3>
                    <p><a href="/type/@product.getProduct_type_id" class="silent"><span class='product_type neutral'>@product.getTypeName</span></a></p>
                    @if(product.hasDescription) {
                        <p>@product.getDescription</p>
                    }
                </div>
            }

            @if(!product.getKey_ingredients.isEmpty) {
                <div class="active_ingredients">
                    <h3>Key Ingredients</h3>
                    @defining(product.getKey_ingredients) { key =>
                        <p>@for(i <- 0 to key.size - 2) {
                            @if(key(i).getIngredient != null) {
                                @defining(key(i).getIngredient.getId) { id =>
                                    <a href="/ingredient/@id"><span class="ingredient@getIngredientClass(id)" data-id="@id">@key(i).getDisplayName</span></a>
                                    ,
                                }
                            } else {
                                <span class="ingredient unrecognized">@key(i).getDisplayName</span>,
                            }
                        }

                            @if(key(key.size - 1).getIngredient != null) {
                                @defining(key(key.size - 1).getIngredient.getId) { id =>
                                    <a href="/ingredient/@id"><span class="ingredient@getIngredientClass(id)" data-id="@id">@key(key.size - 1).getDisplayName</span></a>
                                }
                            } else {
                                <span class="ingredient unrecognized">@key(key.size - 1).getDisplayName</span>
                            }
                        </p>
                    }
                </div>

                @if(!product.getIngredients.isEmpty) {
                    <div class="other_ingredients">
                        <h3>Other Ingredients</h3>
                        }
            } else {
                @if(!product.getIngredients.isEmpty) {
                    <div class="ingredients">
                        <h3>Ingredients</h3>
                        }
            }

            @if(!product.getIngredients.isEmpty) {
                @defining(product.getIngredients) { ing =>
                    <p>@for(i <- 0 to ing.size - 2) {
                        @if(ing(i).getIngredient != null) {
                            @defining(ing(i).getIngredient.getId) { id =>
                                <a href="/ingredient/@id"><span class="ingredient@getIngredientClass(id)" data-id="@id">@ing(i).getDisplayName</span></a>,
                            }
                        } else {
                            <span class="ingredient unrecognized">@ing(i).getDisplayName</span>,
                        }
                    }

                        @if(ing(ing.size - 1).getIngredient != null) {
                            @defining(ing(ing.size - 1).getIngredient.getId) { id =>
                                <a href="/ingredient/@id"><span class="ingredient@getIngredientClass(id)" data-id="@id">@ing(ing.size - 1).getDisplayName</span></a>
                            }
                        } else {
                            <span class="ingredient unrecognized">@ing(ing.size - 1).getDisplayName</span>
                        }
                    </p>
                }
            }
        </div>
        </div>
        </div>

        } {

    <script>
    checkImage ( $ ( '.picture img' ), '  @product.getImage ');
    postToAPI ( '/product/ingredientinfo', {
    id : @product.getId
    }, getIngredientInfoSuccess ) ;
    </script>

}
