@(state: src.controllers.util.ResponseState)

@template("Browse Products - Skin Wise", state) {

<link rel="stylesheet" media="screen" href='@routes.Assets.at("/public", "stylesheets/browse.css")'>

} {

<div class="filter_area section">
    <div class="result_summary"></div>

    <h3>Refine search results</h3>

    <div class="filter_section">
        <h4>Type</h4>
        <div class="type_filters"></div>
        <input type="button" class="open_add_filter_popup" value="Add filter" data-type="type"/>
    </div>

    <div class="filter_section">
        <h4>Brand</h4>
        <div class="brand_filters"></div>
        <input type="button" class="open_add_filter_popup" value="Add filter" data-type="brand"/>
    </div>

    <div class="filter_section">
        <h4>Ingredients</h4>
        <div class="ingredient_filters"></div>
        <input type="button" class="open_add_filter_popup" value="Add filter" data-type="ingredient"/>
    </div>

</div>
<div class="products_list">
    <ul class="horizontal">
    </ul>
</div>

} {

<script src='@routes.Assets.at("/public", "javascripts/vendor/spin-min.js")'></script>
<script src='@routes.Assets.at("/public", "javascripts/browse.js")'></script>
<script>
    initBrowse('product');
</script>

}
