@(state: src.controllers.util.ResponseState)

@template("Browse Products - Skin Wise", state) {

    <link rel="stylesheet" media="screen" href='@routes.Assets.at("/public", "stylesheets/browse.css")'>

} {

    <div class="product_filter filter_area">
        <div class="result_summary"></div>

        <div class="filter_toggle_link">Refine results <span class="chevron bottom"></span></div>

        <div class="filter_container">
            <div class="filter_section">
                <div class="filter_header">
                    <h3>Type</h3>
                    <span class="open_add_filter_popup" data-type="type">+</span>
                </div>
                <div class="type_filters"></div>
            </div>

            <div class="filter_section">
                <div class="filter_header">
                    <h3>Brand</h3>
                    <span class="open_add_filter_popup" data-type="brand">+</span>
                </div>
                <div class="brand_filters"></div>
            </div>

            <div class="filter_section">
                <div class="filter_header">
                    <h3>Ingredients</h3>
                    <span class="open_add_filter_popup" data-type="ingredient">+</span>
                </div>
                <div class="ingredient_filters"></div>
            </div>
        </div>

    </div>
    <div class="products_list">
        <ul class="horizontal">
        </ul>
        <div class="end_of_results">No more results.</div>
        <div id="loading_spinner"></div>
    </div>

    <div id="back_to_top">
        <span class="chevron top"></span>
        Back to Top
    </div>

} {

    <script src='@routes.Assets.at("/public", "javascripts/vendor/spin-min.js")'></script>
    <script src='@routes.Assets.at("/public", "javascripts/browse.js")'></script>
    <script>
        initBrowse('product');
    </script>

}
