@(state: src.views.RenderState)

@template("Browse Products - Skin Wise", state) {

} {

<div id="page_content">
    <div class="filter_area section">
        <h2>Filters</h2>

        <div class="filter_section">
            <h3>Skin Type</h3>
            <div>
                <div class="filter_option">
                    <input type="checkbox" id="skin_type_normal"/>
                    <label for="skin_type_normal">Normal</label>
                </div>


                <div class="filter_option">
                    <input type="checkbox" id="skin_type_oily"/>
                    <label for="skin_type_oily">Oily</label>
                </div>


                <div class="filter_option">
                    <input type="checkbox" id="skin_type_dry"/>
                    <label for="skin_type_dry">Dry</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="skin_type_combination"/>
                    <label for="skin_type_combination">Combination</label>
                </div>
            </div>
        </div>

        <div class="filter_section">
            <h3>Concern</h3>
            <div>
                <div class="filter_option">
                    <input type="checkbox" id="concern_acne"/>
                    <label for="concern_acne">Acne</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="concern_aging_skin"/>
                    <label for="concern_aging_skin">Aging Skin</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="concern_enlareged_pores"/>
                    <label for="concern_enlareged_pores">Enlarged Pores</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="concern_fine_lines_wrinkles"/>
                    <label for="concern_fine_lines_wrinkles">Fine Lines & Wrinkles</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="concern_dark_spots"/>
                    <label for="concern_dark_spots">Dark Spots</label>
                </div>
            </div>
        </div>

        <div class="filter_section">
            <h3>Brand</h3>
            <div>
                <div class="filter_option">
                    <input type="checkbox" id="brand_1"/>
                    <label for="brand_1">Dr. Dennis Gross (1)</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="brand_2"/>
                    <label for="brand_2">Philosophy (1)</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="brand_3"/>
                    <label for="brand_3">Vivant Skin Care (1)</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="brand_4"/>
                    <label for="brand_4">COOLA (1)</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="brand_5"/>
                    <label for="brand_5">Paula's Choice (1)</label>
                </div>

                <div class="filter_option">
                    <input type="checkbox" id="brand_6"/>
                    <label for="brand_6">Dr. Brandt Skincare (1)</label>
                </div>
            </div>
        </div>

    </div>
    <div class="products_catalog">
        <ul class="horizontal">
            <li>
                <div class="product">
                    <img class="product_pic" src="/assets/images/11620108701.jpg" alt="Dr. Dennis Gross Extra Strength Alpha Beta Peel"/>
                    <div class="product_brand">Dr. Dennis Gross </div>
                    <div class="product_name">Extra Strength Alpha Beta Peel</div>
                </div>
            </li>
            <li>
                <div class="product">
                    <img class="product_pic" src="/assets/images/rby-philosophy-microdelivery-triple-acid-brightening-peel-de-36384246.jpg" alt="Philosophy The Microdelivery Triple-Acid Brightening Peel"/>
                    <div class="product_brand">Philosophy</div>
                    <div class="product_name">The Microdelivery Triple-Acid Brightening Peel</div>
                </div>
            </li>
            <li>
                <div class="product">
                    <img class="product_pic" src="/assets/images/43640.jpg" alt="Vivant Skin Care 15% Mandelic Acid 3-in-1 Serum"/>
                    <div class="product_brand">Vivant Skin Care</div>
                    <div class="product_name">15% Mandelic Acid 3-in-1 Serum</div>
                </div>
            </li>
            <li>
                <a href="/product/1">
                    <div class="product">
                        <img class="product_pic" src="/assets/images/COOLA_Tinted Matte_SPF_30_for_Face.jpg" alt="COOLA Tinted Matte SPF 30 for Face"/>
                        <div class="product_brand">COOLA</div>
                        <div class="product_name">Tinted Matte SPF 30 for Face</div>
                    </div>
                </a>
            </li>
            <li>
                <div class="product">
                    <img class="product_pic" src="/assets/images/2_percent_BHA_liquid.png" alt="Paula's Choice Skin Perfecting 2% BHA Liquid Exfoliant"/>
                    <div class="product_brand">Paula's Choice</div>
                    <div class="product_name">Skin Perfecting 2% BHA Liquid Exfoliant</div>
                </div>
            </li>
            <li>
                <div class="product">
                    <img class="product_pic" src="/assets/images/drbrandt_microdermabrasion_900x900.jpg" alt="Dr. Brandt microdermabrasion skin exfoliant"/>
                    <div class="product_brand">Dr. Brandt Skincare</div>
                    <div class="product_name">microdermabrasion skin exfoliant/div>
                </div>
            </li>
            <li class="stretch"></li>
        </ul>
    </div>

</div>

} {

}
