@import src.models.data.Product

@(state: src.controllers.util.ResponseState, product: Product)

@template("COOLA Tinted Matte SPF 30 for Face - Skin Wise", state) {

} {

<div class="product_detail">
    <div class="picture">
        <img src="/assets/images/COOLA_Tinted Matte_SPF_30_for_Face.jpg" alt="COOLA Tinted Matte SPF 30 for Face"/>
    </div>

    <div class="ingredient">
        <div class="name">@product.getBrand @product.getName</div>
        <div class="claim">
            <h3>What It Does</h3>
            <p>@product.getDescription</p>
        </div>
        <div class="active_ingredients">
            <h3>Ingredients</h3>
            <p>@product.getIngredients</p>
        </div>
    </div>
</div>

} {

}
