@(state: src.views.RenderState)

@template("Edit Profile - Skin Wise", state) {

} {

<div id="page_content">
    <div class="user_profile">

        <h1>Edit Profile</h1>

        <div class="section">
            <h2>Basic info</h2>
            <div class="field">
                <label for="profile_first_name">First name:</label>
                <input type="text" id="profile_first_name"/>
            </div>

            <div class="field">

                <label for="profile_last_name">Last name:</label>
                <input type="text" id="profile_last_name"/>
            </div>

            <div class="field">
                <label for="profile_birth_year">Yearh of birth:</label>
                <input type="text" id="profile_birth_year"/>
            </div>
        </div>

        <div class="section">
            <h2>Skin profile</h2>
            <div class="field">
                <label for="profile_skin_type">Skin type:</label>
                <select id="profile_skin_type">
                    <option value="normal">Normal</option>
                    <option value="oily">Oily</option>
                    <option value="dry">Dry</option>
                    <option value="combination">Combination</option>
                </select>
            </div>

            <div class="field">
                <label for="profile_primary_conern">Primary concern:</label>
                <select id="profile_primary_conern">
                    <option value="none">None</option>
                    <option value="acne">Acne</option>
                    <option value="aging">Aging Skin</option>
                    <option value="wrinkles">Fine Lines & Wrinkles</option>
                    <option value="dark_spots">Dark Spots</option>
                    <option value="enlarged_pores">Enlarged Pores</option>
                </select>
            </div>

            <div class="field">
                <label for="profile_additional_concern">Additional concern:</label>
                <select id="profile_additional_concern">
                    <option value="none">None</option>
                    <option value="acne">Acne</option>
                    <option value="aging">Aging Skin</option>
                    <option value="wrinkles">Fine Lines & Wrinkles</option>
                    <option value="dark_spots">Dark Spots</option>
                    <option value="enlarged_pores">Enlarged Pores</option>
                </select>
            </div>

            <div class="field">
                <label for="profile_allergic_to">Allergic to:</label>
                <input type="text" id="profile_allergic_to"/>
            </div>

            <div class="field">
                <label for="profile_sensitive_to">Sensitive to:</label>
                <input type="text" id="profile_sensitive_to"/>
            </div>
        </div>

        <button class="primary">Save</button>
    </div>

</div>

} {

}
