@(state: src.controllers.util.ResponseState)


@template("Edit Profile - Skin Wise", state) {

    <link rel="stylesheet" media="screen" href='@routes.Assets.at("/public", "stylesheets/profile.css")'>

} {

<div class="user_profile">

    <h1>Edit Profile</h1>

    <div class="column">
        <div class="section">
            <h2>Basic info</h2>
            <div class="labels">
                <label for="profile_first_name">First name:</label>
                <label for="profile_last_name">Last name:</label>
                <label for="profile_birth_year">Yearh of birth:</label>
            </div>

            <div class="inputs">
                <input type="text" id="profile_first_name"/>
                <br>
                <input type="text" id="profile_last_name"/>
                <br>
                <input type="text" id="profile_birth_year"/>
            </div>

        </div>

        <div class="section">
            <h2>Skin profile</h2>

            <div class="labels">
                <label for="profile_skin_type">Skin type:</label>
                <label for="profile_primary_conern">Primary concern:</label>
                <label for="profile_additional_concern">Additional concern:</label>
            </div>

            <div class="inputs">
                <select id="profile_skin_type">
                    <option value="normal">Normal</option>
                    <option value="oily">Oily</option>
                    <option value="dry">Dry</option>
                    <option value="combination">Combination</option>
                </select>
                <br>
                <select id="profile_primary_conern">
                    <option value="none">None</option>
                    <option value="acne">Acne</option>
                    <option value="aging">Aging Skin</option>
                    <option value="wrinkles">Fine Lines & Wrinkles</option>
                    <option value="dark_spots">Dark Spots</option>
                    <option value="enlarged_pores">Enlarged Pores</option>
                </select>
                <br>
                <select id="profile_additional_concern">
                    <option value="none">None</option>
                    <option value="acne">Acne</option>
                    <option value="aging">Aging Skin</option>
                    <option value="wrinkles">Fine Lines & Wrinkles</option>
                    <option value="dark_spots">Dark Spots</option>
                    <option value="enlarged_pores">Enlarged Pores</option>
                </select>
            </div>
        </div>

        <input type="button" class="primary" value="Save">
    </div>

    <div class="column">
        <div class="section">
            <h2>Skin preferences</h2>

            <div class="subsection">
                <h3>Ingredients that work:</h3>
                <div class="field">
                    <ul class="preference_list">
                        <li>Aqua<span title="Delete this ingredient" class="delete_preference"></span></li>
                        <li>BP<span title="Delete this ingredient" class="delete_preference"></span></li>
                        <li>Mandelic Acid<span title="Delete this ingredient" class="delete_preference"></span></li>
                    </ul>
                    <input type="button" value="Edit list"/>
                </div>
                <div class="field" id="add_ingredient_work_container">
                    <label for="add_ingredient_work">Add another one: </label>
                    <input class="profile_add_input" id="add_ingredient_work" type="text"/>
                    <input class="profile_add_btn" id="add_ingredient_work_btn" type="button" value="Add"/>
                    <div id="add_ingredient_work_not_found" class="no_results_found profile_not_found">No results found.</div>
                </div>
            </div>

            <div class="subsection">
                <h3>Ingredients that don't work:</h3>
                <div class="field">
                    <ul class="preference_list">
                        <li>Aqua<span title="Delete this ingredient" class="delete_preference"></span></li>
                        <li>BP<span title="Delete this ingredient" class="delete_preference"></span></li>
                        <li>Mandelic Acid<span title="Delete this ingredient" class="delete_preference"></span></li>
                    </ul>
                    <input type="button" value="Edit list"/>
                </div>

                <div class="field" id="add_ingredient_doesnt_work_container">
                    <label for="add_ingredient_doesnt_work">Add another one: </label>
                    <input class="profile_add_input" id="add_ingredient_doesnt_work" type="text"/>
                    <input class="profile_add_btn" type="button" value="Add"/>
                    <div id="add_ingredient_doesnt_work_not_found" class="no_results_found profile_not_found">No results found.</div>
                </div>
            </div>

            <div class="subsection">
                <h3>Ingredients that you react badly to:</h3>
                <div class="field">
                    <ul class="preference_list">
                        <li>Aqua<span title="Delete this ingredient" class="delete_preference"></span></li>
                        <li>Lemon Juice<span title="Delete this ingredient" class="delete_preference"></span></li>
                        <li>Mandelic Acid<span title="Delete this ingredient" class="delete_preference"></span></li>
                    </ul>
                    <input type="button" value="Edit list"/>
                </div>
                <div class="field" id="add_ingredient_bad_reaction_container">
                    <label for="add_ingredient_bad_reaction">Add another one: </label>
                    <input class="profile_add_input" id="add_ingredient_bad_reaction" type="text"/>
                    <input class="profile_add_btn" type="button" value="Add"/>
                    <div id="add_ingredient_bad_reaction_not_found" class="no_results_found profile_not_found">No results found.</div>
                </div>
            </div>
        </div>

        <input type="button" class="primary" value="Save">
    </div>

</div>

} {

    <script src='@routes.Assets.at("/public", "javascripts/profile.js")'></script>

}