@(state: src.controllers.util.ResponseState)


@template("Edit Profile - Skin Wise", state) {

<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/routine.css")'>

} {

<div class="user_routine">

    <h1>Routines</h1>

    <input type="button" class="primary create_routine" value="Create routine"/>

</div>

} {

<script src='@routes.Assets.at("javascripts/vendor/jquery-ui.min.js")'></script>
<script src='@routes.Assets.at("javascripts/routine.js")'></script>
<script>
    fetchRoutine(@state.getUser.getId);
</script>

}