@(state: src.controllers.util.ResponseState)


@template("Edit Profile - Skin Wise", state) {

} {

<div id="page_content">
    <div class="user_routine">

        <h1>Routines</h1>

        <div class="column">
            <div class="section">
                <h2>Morning routine</h2>
                <ol class="routines">
                    <li>
                        <a href="#" class="product_type">Cleanse</a>:
                        <a href="#" class="product_brand">Kiehl's</a>
                        <a href="#" class="product_name">Ultra Facial Cleanser</a>
                    </li>

                    <li>
                        <a href="#" class="product_type">Moisturize</a>:
                        <a href="#" class="product_brand">LA MER</a>
                        <a href="#" class="product_name">The Moisturizing Soft Cream</a>
                    </li>

                    <li>
                        <a href="#" class="product_type">Sunscreen</a>:
                        <a href="#" class="product_brand">Olay</a>
                        <a href="#" class="product_name">Lightweight Moisturizing Sunscreen Broad Spectrum SPF 15</a>
                    </li>
                </ol>
            </div>

            <input type="button" class="primary" value="Edit routine">
        </div>

        <div class="column">
            <div class="section">
                <h2>Night routine</h2>
                <ol class="routines">
                    <li>
                        <a href="#" class="product_type">Cleanse</a>:
                        <a href="#" class="product_brand">Kiehl's</a>
                        <a href="#" class="product_name">Ultra Facial Cleanser</a>
                    </li>

                    <li>
                        <a href="#" class="product_type">Treatment</a>:
                        <a href="#" class="product_brand">Paula's Choice</a>
                        <a href="#" class="product_name">Clear Regular Strength Daily Skin Clearing Treatment with 2.5% Benzoyl Peroxide</a>
                    </li>

                    <li>
                        <a href="#" class="product_type">Moisturize</a>:
                        <a href="#" class="product_brand">LA MER</a>
                        <a href="#" class="product_name">The Moisturizing Soft Cream</a>
                    </li>

                    <li>
                        <a href="#" class="product_type">Serum</a>:
                        <a href="#" class="product_brand">Kiehl's</a>
                        <a href="#" class="product_name">Midnight Recovery Concentrate</a>
                    </li>
                </ol>
            </div>

            <input type="button" class="primary" value="Edit routine">
        </div>

    </div>

</div>

} {

}