@(state: src.controllers.util.ResponseState)


@template("Team - Skin Wise", state) {

} {

<div id="team">

    <div class="section">
        <h1 class="name">Erica</h1>

        <div class="functions">
            <h3>What She Does</h3>
            <p>
                <a class="function neutral">Design</a>
                <a class="function neutral">Frontend Web</a>
                <a class="function neutral">Customer Support</a>
                <a class="function neutral">Content Editing</a>
            </p>
        </div>

        <div class="description">
            <h3>Description</h3>
            <p>Cook and cat lover with oily and acne prone skin.</p>
        </div>
    </div>

    <div class="section">
        <h1 class="name">Shida</h1>

        <div class="functions">
            <h3>What He Does</h3>
            <p>
                <a class="function neutral">Hardcore server stuff</a>
                <a class="function neutral">Hardcore database stuff</a>
                <a class="function neutral">Hardcore backend stuff</a>
            </p>
        </div>

        <div class="description">
            <h3>Description</h3>
            <p></p>
        </div>
    </div>

    <div class="section">
        <h1 class="name">Rudi</h1>

        <div class="functions">
            <h3>What He Does</h3>
            <p>
                <a class="function neutral">Hardcore search algorithm stuff</a>
            </p>
        </div>

        <div class="description">
            <h3>Description</h3>
            <p></p>
        </div>
    </div>

    <!--<div class="section">-->
        <!--<h1 class="name">Yi Tian</h1>-->

        <!--<div class="functions">-->
            <!--<h3>What She Does</h3>-->
            <!--<p>-->
                <!--<a class="function neutral"></a>-->
            <!--</p>-->
        <!--</div>-->

        <!--<div class="description">-->
            <!--<h3>Description</h3>-->
            <!--<p></p>-->
        <!--</div>-->
    <!--</div>-->
</div>

} {

}