@(title: String, state: src.controllers.util.ResponseState)(head: => Html)(body: => Html)(scripts: => Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.ico")'>
        @head
    </head>
    <body>
    <nav>
        <ul class="info_nav horizontal">
            <li><a href="/products">Products</a></li>
            <li><a href="/ingredients">Ingredients</a></li>
            <!--<li><a href="#">Guides</a></li>-->
            <li>
                @search_icon()
                <select id="search_category_select">
                    <option value="product" selected>Product</option>
                    <option value="product">Ingredient</option>
                </select>
                <!--<span class="down_arrow" id="search_category_arrow"></span>-->
                <input id="nav_searchbar" type="text" placeholder="Choose category and search&hellip;"/>
            </li>
        </ul>
        <ul class="user_nav horizontal">
            @if(state.getUser() == null) {
                <!--<li id="signup_link"><a href="#">Sign up</a></li>-->
                <li id="login_link"><a href="#">Sign in</a></li>
            } else {
                <li id="feedback_link"><a href="#">Feedback</a></li>
                @if(state.userHasPermission(src.models.Permissible.ALL)) {
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/admin/content">Content</a></li>
                }
                <!--<li class="expand_subnav">-->
                    <!--<a href="#">@state.getUser().getName()<span class="down_arrow"></span></a>-->
                    <!--<ul class="sub_navbar">-->
                        <!--<li><a href="/profile">Profile</a></li>-->
                        <!--<li><a href="/routine">Routines</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            }
            @if(state.getUser() != null) {
                <li id="logout_link"><a href="#">Logout</a></li>
            }
        </ul>
    </nav>
    <div id="logo">
        <h1>
            <a href="/">Skin Wise</a>
        </h1>
        <span class="version">Alpha</span>
    </div>

    <div id="page_content">
        @body
    </div>

    <footer>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Need Help?</a></li>
        </ul>
    </footer>

    <div class="notice_container">
        <div class="info">
            <span class="close_btn"></span>
            <p class="message"></p>
        </div>

        <div class="error">
            <span class="close_btn"></span>
            <p class="message"></p>
        </div>
    </div>
    @popups.signup()
    @popups.login()
    @popups.forgot_password()
    @popups.confirm()
    @if(state.getUser != null) {
        @popups.feedback(state)
    }
    @popups.add_filter()
    <script src='@routes.Assets.at("javascripts/vendor/jquery-1.9.0.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/vendor/lodash-2.4.1-min.js")'></script>
    <script src='@routes.Assets.at("javascripts/config.js")'></script>
    <script src='@routes.Assets.at("javascripts/util.js")'></script>
    <script src='@routes.Assets.at("javascripts/popup.js")'></script>
    <script src='@routes.Assets.at("javascripts/main.js")'></script>
    @scripts
    @if(state.getResponse() != null) {
        <script>
            var messages = @Html(src.util.Json.serialize(state.getResponse().getMessages()));
            _.forEach(messages, showMessage);
        </script>
    }
    </body>
</html>
