@(title: String)(head: => Html)(body: => Html)(scripts: => Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/common.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.ico")'>
        @head
    </head>
    <body>
    <nav>
        <ul class="info_nav horizontal">
            <li><a href="/products">Products</a></li>
            <li><a href="/ingredients">Ingredients</a></li>
            <li><a href="#">Guides</a></li>
        </ul>
        <ul class="user_nav horizontal">
            <li id="signup_link"><a href="#">Sign up</a></li>
            <li id="login_link"><a href="#">Sign in</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="#">Favorites</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
    <div id="logo"><h1><a href="/">SKIN WISE</a></h1></div>


    <div id="homepage_search">
        <input type="text" placeholder="Type in any ingredient or product&hellip;"/>
    </div>
    <div id="content_wrapper">
        @body
    </div>
    @signup_popup()
    @login_popup()
    <script src='@routes.Assets.at("javascripts/vendor/jquery-1.9.0.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/main.js")'></script>
    @scripts
    </body>
</html>
