@()
<div class="add_filter popup">
    <div class="popup_bg"></div>
    <div class="wrapper">
        <div class="popup_cell">
            <div class="form_container">
                <span class="close_btn"></span>

                <form id="add_filter_form" method="post" onsubmit="return false;">
                    <h1>Add filter</h1>

                    <div class="labels">
                        <label for="add_filter">Filter name:</label>
                    </div>

                    <div class="inputs">
                        <input id="add_filter" required/>
                    </div>

                    <div class="button_container">
                        <input id="add_filter_btn" class="primary" type="button" value="Add">
                        <input id="cancel_btn" class="primary" type="button" value="Nevermind">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
