@()
<div class="confirm popup">
    <div class="popup_bg"></div>
    <div class="wrapper">
        <div class="popup_cell">
            <div class="form_container">
                <span class="close_btn"></span>

                <form id="confirm_form" onsubmit="return false;">
                    <h1>Please confirm</h1>

                    <div class="message">
                        <p>Are you sure you want to <span class="action"></span>?</p>
                    </div>

                    <div class="button_container">
                        <input id="confirm_btn" class="primary" type="button" value="Yes">
                        <input id="cancel_btn" class="primary" type="button" value="Nope">
                        <input id="dont_ask_again_btn" class="primary" type="button" value="Don't Ask Again">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
